@keyframes logo-animation {
    from{ width: 25px;
    opacity:0;}
    to{ width:475px;
    opacity:1;}
}
#logo{
    animation: logo-animation 5s ease-in-out;
}
body {
    font-family: 'Poppins', sans-serif; /* Poppins as primary font with sans-serif as fallback */
    background-image: url('images/concrete_seamless.png'); /* background-image with seamless concrete texture */
    background-color: #f1f1f1; /* backup background color */
  }

  header{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

.nav_item a{
    color: blue;
}
.nav_item a:visited{
    color: blue;
}

.card>header{
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    
}
.card{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.card{
    display:flex;
    flex-direction: column;
    flex-basis: 450px;
    max-width: 450px;
}

.pricing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
  }
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 900px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction:row;
        
        
    }
    header img{
        margin-right: auto;
    }
    .nav_links{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        align-content: flex-end;
        flex-wrap: wrap;
    }
    .nav_item{
        display: inline;
    }
    .card{
        display:flex;
        flex-direction: column;
        flex-basis: 275px;
        max-width: 275px;
    }
    
    .pricing{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    body> header{
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
    }
    .about{
        padding: 7%;
    }
    
}
@media (prefers-reduced-motion) {
    #logo{
        width: 475px;
        opacity: 1;
    }
}
@media print{
    body {
        font-family: Arial, Helvetica;
        background-image: none;
      }
      .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .nav_item{
        margin: 0 100px;
      }
    
    .pricing{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: nowrap;
    }
    .card {
        border: 2px solid #45ADDD;
        flex-basis: 325px;
      }
      
      #gallery{
        display: none;
      }
      .gallery {
        display: none;
      }
      .card ul>li:nth-child(2):after {
        content: "\1F44D";
        margin-left: 5px;
      }
      .about{
        padding: 0;
    }

      
      

}
